@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0 3rem 0 3rem;
}

a {
  color: black;
}

li {
  margin-left: -8px;
}