@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0 3rem 0 3rem;
}

.wizard-card {
  padding: 1rem;
  margin-top: 5px;
  width: 800px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 0 !important;
}

.m-0 {
  margin: 0;
}

input:focus,
textarea:focus {
  border-color: black !important;
  box-shadow: 0 0 0 0.2rem rgb(72, 70, 70) !important;
  border-radius: 0;
}

input,
textarea {
  border-radius: 0 !important;
}
