@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #d3d3d3;
}

#resume-container {
  padding: 0 3rem 0 3rem;
  background-color: white;
  width: 794px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  svg {
    width: 16px;
    height: 16px;
  }

}

@media only screen and (max-width: 800px) {
  body {
    padding: 0;
  }
}

.wizard-card {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 0 !important;
}

.form-card {
  padding: 1rem;
  margin-top: 5px;
  border-radius: 0 !important;
}

.error {
  color: red;
  font-size: 12px;
}

.button-card {
  padding: 1rem;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 0 !important;
  position: sticky !important;
  bottom: 0;
}

@media only screen and (max-width: 800px) {
  .wizard-card {
    width: 100%;
  }

  .form-card {
    width: 100%;
  }

  .button-card {
    width: 100%;
  }
}

.m-0 {
  margin: 0;
}

input:focus,
textarea:focus {
  border-color: black !important;
  box-shadow: 0 0 0 0.2rem rgb(72, 70, 70) !important;
  border-radius: 0;
}

input,
textarea {
  border-radius: 0 !important;
}

.view-button:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 0 0.2rem rgb(72, 70, 70) !important;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  display: none;
}
